<div class="w-full flex items-center justify-center">
  <mat-card class="mat-elevation-z6 w-[500px]">
    <mat-card-header>
      <mat-card-title>
        ESPECIALIDADES
      </mat-card-title>
      <mat-card-subtitle>Visite y vea las especialidades con la que cuenta el hospital</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/especialidad']">VER</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z6 w-[500px]">
    <mat-card-header>
      <mat-card-title>
        ADMINISTRACION
      </mat-card-title>
      <mat-card-subtitle>ADministre su informacion personal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/usuario']">ADMINISTRAR</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z6 w-[500px]">
    <mat-card-header>
      <mat-card-title>
        RESERVACION
      </mat-card-title>
      <mat-card-subtitle>Realice la reservacion con su medico y especialidad elegida</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/especialidad']">RESERVAR</button>
    </mat-card-actions>
  </mat-card>
</div>
