<div class="w-full flex justify-center">
  <form [formGroup]="especialidadForm" class="grid grid-cols-1 gap-4">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="espNombre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input matInput type="text" formControlName="espDescripcion">
    </mat-form-field>
    @if(operation){
      <button mat-flat-button (click)="location.back()">Cancelar</button>
      <button mat-flat-button (click)="updateEspecialidad()">Actualizar</button>
    }
    @else {
      <button mat-flat-button (click)="dialogRef.close(false)">Cancelar</button>
      <button mat-flat-button (click)="crearEspecialidad()">Registrar</button>
    }

  </form>
</div>
